@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'UTM';
  src: url(../fonts/UTM\ BryantLG.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'UTM';
  src: url(../fonts/UTM\ BryantLG_B.ttf);
  font-weight: bold;
}

body {
  font-family: 'Open Sans';
}

.hapolearn-header {
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
  align-items: center;
}

header.hapolearn-header img {
  height: 70px;
  width: auto;
  padding-left: 60px;
}

header.hapolearn-header ul {
  list-style-type: none;
}

header.hapolearn-header li {
  display: inline;
  margin: 10px;
}

header.hapolearn-header a {
  text-decoration: none;
  font: bold 15px/19px 'Open Sans';
  text-transform: uppercase;
  color: black;
  padding: 8px;
}

header.hapolearn-header a:hover {
  background: #B2D235;
  border-radius: 17px;
  color: white;
}

.hapolearn-header > ul {
  margin-left: auto;
  margin-left: 100px;
}

.hapolearn-footer {
  height: 308px;
  font-family: UTM;
  width: 100%;
  background-color: #505353;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.hapolearn-footer-text {
  margin: 0;
  width: 100%;
  background-color: #454545;
  color: white;
  font: normal 15px/18px UTM;
  letter-spacing: -0.05em;
  height: 38px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hapolearn-footer-img {
  color: white;
  font: normal 20px/25px UTM;
  letter-spacing: -0.05em;
  padding-top: 46px;
}

.hapolearn-footer-img p{
  margin: 0;
  padding-left: 66px;
}

.hapolearn-footer-ul {
  color: white;
  font-style: normal;
  font: bold 23px/28px UTM;
  letter-spacing: -0.05em;
  align-self: baseline;
}

div.hapolearn-footer-ul ul {
  list-style-type: none;
}

div.hapolearn-footer-ul li {
  padding-bottom: 20px;
}

div.hapolearn-footer-ul a {
  text-decoration: none;
  color: white;
}

.hapolearn-footer-icon {
  color: white;
  font-size: 50px;
  align-self: center;
}

.hapolearn-footer-icon i {
  padding-right: 35px;
}

