@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'UTM';
  src: url(../fonts/UTM\ BryantLG.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'UTM';
  src: url(../fonts/UTM\ BryantLG_B.ttf);
  font-weight: bold;
}

body {
  font-family: 'Open Sans';
}

.hapolearn-header {
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
  align-items: center;
}

header.hapolearn-header img {
  height: 70px;
  width: auto;
  padding-left: 60px;
}

header.hapolearn-header ul {
  list-style-type: none;
}

header.hapolearn-header li {
  display: inline;
  margin: 10px;
}

header.hapolearn-header a {
  text-decoration: none;
  font: bold 15px/19px 'Open Sans';
  text-transform: uppercase;
  color: black;
  padding: 8px;
}

header.hapolearn-header a:hover {
  background: #B2D235;
  border-radius: 17px;
  color: white;
}

.hapolearn-header > ul {
  margin-left: auto;
  margin-left: 100px;
}

.hapolearn-footer {
  height: 308px;
  font-family: UTM;
  width: 100%;
  background-color: #505353;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.hapolearn-footer-text {
  margin: 0;
  width: 100%;
  background-color: #454545;
  color: white;
  font: normal 15px/18px UTM;
  letter-spacing: -0.05em;
  height: 38px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hapolearn-footer-img {
  color: white;
  font: normal 20px/25px UTM;
  letter-spacing: -0.05em;
  padding-top: 46px;
}

.hapolearn-footer-img p{
  margin: 0;
  padding-left: 66px;
}

.hapolearn-footer-ul {
  color: white;
  font-style: normal;
  font: bold 23px/28px UTM;
  letter-spacing: -0.05em;
  align-self: baseline;
}

div.hapolearn-footer-ul ul {
  list-style-type: none;
}

div.hapolearn-footer-ul li {
  padding-bottom: 20px;
}

div.hapolearn-footer-ul a {
  text-decoration: none;
  color: white;
}

.hapolearn-footer-icon {
  color: white;
  font-size: 50px;
  align-self: center;
}

.hapolearn-footer-icon i {
  padding-right: 35px;
}

.hapolearn-banner {
  background: url(../img/learn.png) no-repeat;
  background-size: cover;
  width: auto;
  height: 655px;
  color: #11114E;
  letter-spacing: -0.05em;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hapolearn-banner h1 {
  font: normal 50px/61px UTM;
}

.hapolearn-banner b {
  font-weight: bold;
}

.hapolearn-banner p {
  font: normal 20px/25px UTM;
  letter-spacing: -0.05em;
  margin-top: -30px;
}

.hapolearn-banner a {
  text-decoration: none;
  color: white;
  font: bold 30px/37px UTM;
  background-color: #B2D235;
  height: 70px;
  width: 377px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hapolearn-banner a:hover {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

.hapolearn-blankspace {
  width: 100%;
  height: 161px;
  background-image: linear-gradient(white, #E5E5E5);
}

.hapolearn-courses {
  display: flex;
  justify-content: center;
}

.hapolearn-courses-items {
  width: 370px;
  height: 470px;
  background-color: #11114E;
  margin-right: 30px;
  margin-top: -117px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.hapolearn-courses-items-img {
  height: 50%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hapolearn-courses-items-text {
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
  width: 100%;
  height: 50%;
  border-radius: 0 0 15px 15px;
}

.hapolearn-courses-items-text h1 {
  font: bold 30px/37px UTM;
  color: #B2D235;
  margin: 10px 0 15px 0;
}

.hapolearn-courses-items-text p {
  font: bold 14px/20px UTM;
  color: #505353;
  text-align: center;
  margin: 0 37px 0 37px;

}

.hapolearn-courses-items-text a {
  text-decoration: none;
  background-color: #B2D235;
  width: 200px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 18px/22px UTM;
  color: white;
  border-radius: 22px;
  margin-top: 15px;
}

.hapolearn-othercourses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 110px;
}

.hapolearn-title {
  font: bold 80px/90px UTM;
  margin: 0;
  color: #11114E;
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}

.hapolearn-title-borderbottom {
  border-bottom: 6px solid #B2D235;
  padding-bottom: 15px;
  border-radius: 3px;
}

.hapolearn-othercourses-items {
  width: 370px;
  height: 395px;
  background-color: #11114E;
  margin-right: 30px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.hapolearn-othercourses > a {
  text-decoration: none;
  font: bold 40px/49px UTM;
  color: #90AB26;
  margin-top: 60px;
}

.hapolearn-courses-items-text > a:hover {
  box-shadow: inset 0 1.5px 2px #6F8710;
  border-radius: 22px;
}

.hapolearn-why {
  background-image: url(../img/background\ 2\ black.png);
  height: 740px;
  margin-top: 116px;
  display: flex;
}

.hapolearn-why-left {
  width: 50%;
  height: 100%;
}

.hapolearn-why-left > img {
  margin-top: -33%;
}

.hapolearn-why-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hapolearn-why-left > h1 {
  font: bold 70px/86px UTM;
  color: white;
  margin-top: -20%;
  display: flex;
  justify-content: center;
}

.hapolearn-why-left > p {
  font: normal 20px/25px UTM;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.hapolearn-why-left > p > img {
  margin-right: 11px;
}
