@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'UTM';
  src: url(..\fonts/UTM\ BryantLG.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'UTM';
  src: url(..\fonts/UTM\ BryantLG_B.ttf);
  font-weight: bold;
}

body {
  font-family: 'Open Sans';
}