@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'UTM';
  src: url(../fonts/UTMBryantLG.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'UTM';
  src: url(../fonts/UTMBryantLG_B.ttf);
  font-weight: bold;
}

body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

.hapolearn-header {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.hapolearn-header img {
  height: 70px;
  width: auto;
  margin-left: 60px;
}

header.hapolearn-header ul {
  list-style-type: none;
  margin-right: 50px;
  display: flex;
  flex-wrap: nowrap;
}

header.hapolearn-header a {
  text-decoration: none;
  font: bolder 14px/19px 'Open Sans';
  text-transform: uppercase;
  color: #505353;
  padding: 8px 18px;
}

header.hapolearn-header a:hover {
  background: #B2D235;
  border-radius: 17px;
  color: white;
  -webkit-text-stroke: 0 white;
}

.hapolearn-footer {
  height: 308px;
  font-family: UTM;
  width: 100%;
  background-color: #505353;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #FFFFFF;
}

.hapolearn-footer-text {
  margin: 0;
  width: 100%;
  background-color: #454545;
  color: white;
  font: normal 18px/20px UTM;
  letter-spacing: -0.05em;
  height: 38px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hapolearn-footer-img {
  color: white;
  font: normal 20px/25px UTM;
  letter-spacing: -0.05em;
  padding-top: 65px;
  margin-left: 5%;
}

.hapolearn-footer-img p {
  margin: 0;
  padding-left: 66px;
}

.hapolearn-footer-ul {
  color: white;
  font-style: normal;
  font: bold 23px/28px UTM;
  letter-spacing: -0.05em;
  margin-top: 65px;
}

div.hapolearn-footer-ul ul {
  list-style-type: none;
}

div.hapolearn-footer-ul li {
  padding-bottom: 20px;
}

div.hapolearn-footer-ul a {
  text-decoration: none;
  color: white;
}

div.hapolearn-footer-ul a:hover {
  text-decoration: underline;
}

.hapolearn-footer-icon {
  font-size: 40px;
  align-self: center;
  font: normal 20px/25px UTM;
  display: flex;
  align-items: center;
}

.hapolearn-footer-icon > a {
  color: white;
  font: normal 20px/25px UTM;
  margin-right: 17px;
  display: none;
  margin-left: -17px;
}

.hapolearn-footer-icon > p {
  font: normal 20px/25px UTM;
  display: none;
  margin-right: 17px;
  margin-left: -17px;
}

.hapolearn-footer-icon img {
  text-align: center;
  margin-right: 35px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.hapolearn-footer-icon i:first-child {
  padding: 10px 18px;
}

.hapolearn-banner {
  background: url(../img/learn.png) no-repeat;
  background-size: cover;
  width: auto;
  height: 655px;
  color: #11114E;
  letter-spacing: -0.05em;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hapolearn-banner h1 {
  font: normal 50px/61px UTM;
}

.hapolearn-banner b {
  font-weight: bold;
  -webkit-text-stroke: 2px;
}

.hapolearn-banner p {
  font: normal 20px/25px UTM;
  letter-spacing: -0.05em;
  margin-top: -30px;
}

.hapolearn-banner a {
  text-decoration: none;
  color: white;
  font: bold 30px/37px UTM;
  background-color: #B2D235;
  width: 377px;
  height: 60px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hapolearn-banner a:hover {
  background-color: #bce41b;
  box-shadow: none;
}

.hapolearn-blankspace {
  width: 100%;
  height: 161px;
  background-image: linear-gradient(white, #E5E5E5);
}

.hapolearn-courses {
  display: flex;
  justify-content: center;
}

.hapolearn-courses-items {
  width: 370px;
  height: 480px;
  background-color: #11114E;
  margin: 0 15px;
  margin-top: -117px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.hapolearn-courses-items-img {
  height: 50%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hapolearn-courses-items-text {
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
  width: 100%;
  height: 50%;
  border-radius: 0 0 15px 15px;
}

.hapolearn-courses-items-text h1 {
  font: bold 30px/37px UTM;
  color: #B2D235;
  margin: 20px 0 15px 0;
  -webkit-text-stroke: 0.9px;
}

.hapolearn-courses-items-text p {
  font: normal 14px/20px UTM;
  color: #505353;
  text-align: center;
  margin: 0 37px;
  -webkit-text-stroke: 0.1px;
}

.hapolearn-courses-items-text a {
  text-decoration: none;
  background-color: #B2D235;
  width: 200px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 18px/22px UTM;
  color: white;
  border-radius: 22px;
  margin-top: 15px;
  -webkit-text-stroke: 0.3px;
  box-shadow: inset 0 1.5px 2px #6F8710;
  padding-bottom: 3px;
}

.hapolearn-courses-items-text a:hover {
  box-shadow: none;
  background-color: #bce41b;
}

.hapolearn-othercourses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 110px;
}

.hapolearn-title {
  font: bold 80px/90px UTM;
  margin: 0;
  color: #11114E;
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
  -webkit-text-stroke: 2px;
}

.hapolearn-title-borderbottom {
  border-bottom: 6px solid #B2D235;
  padding-bottom: 15px;
  border-radius: 3px;
}

.hapolearn-othercourses-items {
  width: 370px;
  height: 395px;
  background-color: #11114E;
  margin: 0 15px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.hapolearn-othercourses > a {
  text-decoration: none;
  font: bold 40px/49px UTM;
  color: #90AB26;
  margin-top: 60px;
  width: 100%;
  -webkit-text-stroke: 1px;
  text-align: center;
  align-self: flex-end;
}

.hapolearn-othercourses > a:hover {
  font-size: 45px;
}

.hapolearn-othercourses > a > img {
  padding-left: 10px;
  vertical-align: middle;
}

.hapolearn-why {
  background-image: url(../img/background2black.png);
  background-size: cover;
  height: auto;
  margin-top: 116px;
}

.hapolearn-why-content {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.hapolearn-why > img {
  margin-top: -225px;
  position: absolute;
}

.hapolearn-why-left-text {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 130px;
}

.hapolearn-why-left-text > h1 {
  font: bold 65px/86px UTM;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 1.5px;
}

.hapolearn-why-left-text > p {
  font: bold 20px/25px UTM;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.hapolearn-why-left-text > p > img {
  margin-right: 11px;
}

.hapolearn-feedback {
  width: 100%;
  display: flex;
  margin: 110px 0;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.hapolearn-feedback > p {
  color: #505353;
  font: normal 25px/31px UTM;
  text-align: center;
  margin: 0 0 40px 0;
}

.hapolearn-feedback-items {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.hapolearn-feedback-items-infor {
  width: 570px;
  margin: 0 15px;
}

.hapolearn-feedback-items-infor-quote {
  background: url(../img/slider.png) no-repeat;
  background-size: cover;
  width: 570px;
  height: 185px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.hapolearn-feedback-items-infor-quote > i {
  color: #969494;
  font-size: 25px;
  background-color: #FFFFFF;
  border: 0.5px solid #C4C4C4;
  border-radius: 50%;
  cursor: pointer;
}

.hapolearn-feedback-items-infor-quote > i:hover {
  background-color: #d6d6d6;
}

.hapolearn-btn-right {
  padding: 2px 7px 2px 10px;
  margin-right: -6px;
}

.hapolearn-btn-left {
  padding: 2px 10px 2px 7px;
  margin-left: -6px;
}

.hapolearn-feedback-items-infor-quote > p {
  font: normal 16px/20px UTM;
}

.hapolearn-quote-borderleft {
  border-left: 5px solid #D9DADC;
  padding: 20px;
  display: inline-block;
  margin-left: 45px;
}

.hapolearn-feedback-items-infor-person {
  height: 60px;
  width: auto;
  margin-left: 25px;
  display: flex;
}

.hapolearn-feedback-items-infor-person > h2 {
  margin: 0 0 0 10px;
  font: bold 20px/25px UTM;
}

.hapolearn-feedback-items-infor-person-text {
  width: auto;
  height: 60px;
  flex-direction: column;
  margin-left: 10px;
}

.hapolearn-feedback-items-infor-person-text > h1 {
  font: bold 20px/25px UTM;
  color: #11114E;
  margin: 0;
  -webkit-text-stroke: 0.5px;
}

.hapolearn-feedback-items-infor-person-text > p {
  font: normal 16px/20px UTM;
  color: #505353;
  margin: 0;
  -webkit-text-stroke: 0.5px;
}

.hapolearn-feedback-items-infor-person-text > i {
  font-size: 14px;
  color: #F2C54F;
  margin: 0 5px 0 0;
  float: left;
}

.hapolearn-banner2 {
  height: 500px;
  width: 100%;
  background: url(../img/Member.png) no-repeat;
  background-size: cover;
  margin-bottom: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hapolearn-banner2 > h1 {
  font: bold 60px/74px UTM;
  color: white;
  text-align: center;
  margin-top: 0;
  -webkit-text-stroke: 2px;
}

.hapolearn-banner2 > a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-decoration: none;
  color: #90AB26;
  font: bold 30px/37px UTM;
  width: 377px;
  height: 80px;
  border-radius: 40px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hapolearn-banner2 > a:hover {
  background-color: #f7f7f7;
  box-shadow: none;
}

.hapolearn-statistic {
  width: 100%;
}

.hapolearn-statistic-data {
  display: flex;
  justify-content: center;
}

.hapolearn-statistic-data-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
}

.hapolearn-statistic-data-text > h1 {
  font: bold 60px/74px UTM;
  color: #505353;
  margin: 0;
}

.hapolearn-statistic-data-text > h2 {
  font: bold 60px/74px UTM;
  color: #B2D235;
  margin-bottom: 136px;
}

.hapolearn-messenger {
  width: 360px;
  height: auto;
  position: fixed;
  margin-right: 50px;
  margin-bottom: 50px;
  bottom: 0;
  right: 0;
}

.hapolearn-messenger-chatbox {
  width: 100%;
  height: 190px;
  background-color: #FFFFFF;
  border-radius: 23px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.hapolearn-messenger-chatbox-text {
  width: 100%;
  height: 50%;
  display: flex;
}

.hapolearn-messenger-chatbox-text-img {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hapolearn-messenger-chatbox-text-img > img {
  padding-top: 20px;
}

.hapolearn-messenger-chatbox-text-chat {
  width: 70%;
  height: 100%;
  flex-direction: column;
}

.hapolearn-messenger-chatbox-text-close {
  height: 100%;
  width: 15%;
}

.hapolearn-messenger-chatbox-text-close > i {
  color: #C4C4C4;
  font-size: 24px;
  float: right;
  cursor: pointer;
}
.hapolearn-messenger-chatbox-text-chat h6 {
  font-weight: normal;
  color: #7F7F7F;
  margin: 0;
  padding-left: 15px;
}

.hapolearn-messenger-chatbox-text-chat p {
  font: normal 12px/17px 'Open Sans';
  margin-top: 5px;
  padding: 15px;
  background-color: #F1F0F0;
  border-radius: 15px;
  color: #505353;
  -webkit-text-stroke: 0.3px;
}

.hapolearn-messenger-chatbox-login {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hapolearn-messenger-chatbox-login a {
  font: normal 12px/16px 'Open Sans';
  color: white;
  width: 276px;
  height: 37px;
  background-color: #3184F7;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hapolearn-messenger-chatbox-login a:hover {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hapolearn-messenger-chatbox-login a:hover {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hapolearn-messenger-chatbox-login a > img {
  vertical-align: middle;
  margin-right: 10px;
}

.hapolearn-messenger-chatbox-login p {
  color: #B3B3B3;
  font: normal 12px/16px 'Open Sans';
  text-align: center;
  margin: 6px 0;
}

.hapolearn-messenger > i {
  color: white;
  background-color: #2774DF;
  padding: 5px;
  font-size: 45px;
  float: right;
  color: white;
  border-radius: 50%;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.hapolearn-messenger > i:hover {
  color: #C4C4C4;
  background-color: #1b54a3;
}
